body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	background-color: #f0f8ff;
	background-color: #222;
	font-family: arial, sans-serif;
	font-size: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: .65s;
}

* {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}


.container {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	/* align-items: flex-start; */
	align-items: center;
	justify-content: center;
	/* flex-wrap: wrap; */
}

#main {
	width: 640px;
	/* max-width: 80%; */
	/* max-height: 80%; */

	height: 640px;
	display: block;
	/* width: 100vw; */
	/* height: 100vh; */
	/* position: fixed; */
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	/*background-color: #fff;*/
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, .5);
	/* cursor: none; */
	/* transition: .5s; */
}

.settings {
	visibility: hidden;
	opacity: 0;
}